/*banner*/
.banner {
	width: 100%;height: 734px;margin: 0 auto;background: url(../img/banner.jpg);
}
.banner .banner_txt {
	width: auto;height: auto;text-align: center;padding: 300px 200px;margin: 0 0 0 500px;line-height: 70px;
}
.banner .banner_txt h3 {
	font-size: 42px;color: #fff;text-align: left;
}
.banner .banner_txt h4 {
	font-size: 22px;color: #fff;text-align: left;
}
.banner .banner_txt a {
	display: inline-block;width: auto;padding: 0px 20px;margin-right: 340px;line-height: 30px;border: solid 1px #fff;border-radius: 3px;font-size: 14px;color: #fff;background: none;
}
/*banner结束*/
.message_on {
	width: 100%;height: 664px;
}
.message_on .mse_img {
	padding: 0 80px;float: left;line-height: 664px;
}
.message_on .mes_rgt {
	width: 600px;height: 300px;float: left;margin-top: 200px;
}
.message_on .mse_title {
	float: left;line-height: 36px;font-size: 22px;color: #333;
}
.message_on .mse_title span {
	font-size: 30px;color: #ec5b3f;
}
.message_on .mse_txt {
	width: auto;height: auto;float: left;line-height: 30px;font-size: 14px;
}
.message_on .mse_txt span{
	color: #ec5b3f;
}
.message_on .mes_rgt>a {
	display: block;width: 100px;height: 36px;float: left;text-align: center;line-height: 36px;color: #fff;background: #ec5b3f;-moz-border-radius: 3px;border-radius: 3px;overflow: hidden;
}
.message_to {
	width: 100%;height: 137px;background: #ec5b3f;padding: 60px 0;
}
.message_to .m_ipt {
	width: 460px;height: 47px;margin: 30px auto;
}
.message_to .m_itxt{
	width: 316px;height: 44px;padding: 0 10px;background:rgba(255,255,255,.0);border: 1px solid #fff;
}
.message_to .m_isut {
	width: 122px;height: 46px;background: #fff;border: 0;border-radius: 0 3px 3px 0;color: #ec5b3f;
}
.message_tre {
	width: 100%;height: 525px;padding: 50px 0;margin: 0 auto;background: #f0f0f0;
}
.message_tre .self-motion .self-motion_title{
	margin-top: 20px;
}
.message_tre .self-motion li {
	width: 150px;height: 274px;padding: 40px 55px;background: #fff;margin: 0 25px 0 0;float: left;overflow: hidden;text-align: center;font-size: 12px;
}
.message_tre .self-motion li h6 {
	font-size: 16px;font-weight: normal;color: #000;line-height: 20px;
}
.message_tre .self-motion li .seif_btn {
	display: block;width: 100px;height: 30px;border-radius: 3px;background: #eb5a3f;color: #fff;margin: 30px auto;line-height: 30px;
}
.message_four {
	width: 100%;height: auto;/*background: pink;*/padding: 60px 0 100px 0;
}
.message_four .msf_title {
	width: 1425px;height: 150px;text-align: center;
}
.message_four .msf_title h5 {
	font-size: 36px;font-weight:normal;color: #000;
}
.message_four .message_forbox {
	display: flex;
}
/*.message_forbox .msf_bto {
	height: :;8px;padding: 66px 40px;
}*/
.message_four .msf_bon {
	flex: 2.5;height: 182px;padding: 84px 60px;background: #9cc23f;text-align: center;
}
.message_four .msf_bonn {
	background: #f5f5f5;
}
.message_four .msf_bonn>h5,h6{
	color: #666;
}
.message_four .msf_bonn>h6 {
	color: #666;
}
.message_four .msf_bonn>.msf_bon_icon {
	color: #666;
}
.message_four .msf_bon .msf_bon_icon {
	font-size: 64px;margin-bottom: 50px;color: #fff;
}
.message_four .msf_bon_hfonr {
	font-size: 28px;font-weight:normal;color: #fff;margin-bottom: 16px;
}
.message_four .msf_bon_hsix {
	font-size: 16px;font-weight:normal;color: #fff;
}
.message_four .msf_bto {
	flex: 5;height: 218px;background: #eb5a3f;padding: 66px 40px;
}
.msf_bto a {
	display: block;width: 100px;height: 36px;border-radius: 3px;background: #fff;color: #eb5a3f;text-align: center;line-height: 36px;font-size: 14px;
}
.message_four .msf_btr {
	flex: 2.5;height: 350px;background: #f5f5f5;
}
.mse_fve {
	width: 1425px;height: 322px;display: flex;
}
.mse_fve li{
	height: 142px;flex: 1;background: #fff;border: 1px solid #d9d9d9;border-left: none;padding: 90px 0;line-height: 30px;text-align: center;
}
.mse_fve li p {
	line-height: 50px;
}
.mse_fve li:first-child {
	border-left: 1px solid #d9d9d9;
}
.mse_fve li .mse_fve_icon p:nth-child(2) {
	font-size: 8px;color: #e88d38;
}
.mse_fve li .mse_fve_icon p:first-child {
	font-size: 72px;color: #ed603f;
}
.mse_fve li .mse_fve_txt h6{
	font-size: 20px;font-weight: normal;color: #333;
}
.mse_fve li .mse_fve_txt p {
	font-size: 12px;
}
.mse_six {
	width: 1425px;height: 400px;display: flex;
}
.mse_six>li{
	flex:1;justify-content: space-between;width: 200px;height: 220px;border:1px solid #d9d9d9;margin-right: 35px;
}
/*新闻板块*/
.news {
	width: 100%;height: auto;background: #f0f0f0;
}
.news>.inner {
	width: 1425px;height: 936px;padding: 60px 0 0 0;
}
.news_title {
	height: 81px;text-align: center;line-height: 60px;margin-bottom: 80px;
}
.news_title h6 {
	font-size: 36px;font-weight: normal;color: #000;
}
.news_title>span {
	font-size: 16px;color: #666;
}
.news .news_box {
	width: 100%;height: auto;display: flex;
}
.news .news_content {
	flex: 8;
}
.news .news_content li {
	margin-bottom: 50px;
}
.news .news_content li a{
	display: block;font-size: 16px;color: #333;
}
.news .news_content li>span {
	font-size: 12px;color: #999;
}
.news .news_content li .news_info {
	line-height: 22px;font-size: 12px;color: #999;
}
.news .news_circle {
	height: 660px;flex:2;display: flex;flex-direction: column;
}
.news .news_circle li {
	flex:1;display: flex;
}
.news .news_circle li div {
	width: 14px;height: 14px;background: #f34e35;border-radius: 50%;margin: 0 auto;
}