.header .nav li:nth-child(3) a {
	color: #eb5a3f;
}
.main_box {
	width: 100%;height: auto;overflow: hidden;
}
.main_box .main_title {
	width: 100%;height: auto;/*padding: 30px 0;*/background: #ec5b3f;color: #fff;font-size: 14px;text-align: center;border-bottom: 1px solid #dc4b2f;overflow: hidden;
}
.main_box .main_title h6 {
	padding: 30px 0 10px 0;font-weight: normal;font-size: 30px;
}
.main_box .main_title span {
    padding-bottom: 30px;display: block;color: #fff;font-size: 14px;text-align: center;
}
.main_box .main_nav {
	width: 100%;height: 60px;background: #ec5b3f;
}
.main_box .main_nav ul {
	width: 290px;height: 60px;margin: 0 auto;
}
.main_box .main_nav li {
	width: auto;height: 60px;float: left;line-height: 60px;font-size: 14px;border-left: 1px solid #dc4b2f;overflow: hidden;
}
.main_box .main_nav li a {
	width: 100%;height: 100%;display: block;padding: 0 30px;font-size: 14px;color: #fff;
}
.main_box .main_nav ul li a:hover {
	color: #fff;background: #dc4b2f;transition: all 0.3s;
}
.main_box .main_nav li:first-child {
	border-left: none;background: #dc4b2f;
}
.main_box .main_big {
	width: 100%;height: auto;margin: 50px auto;background: #fff;
}
.main_box .main_big .main_big_b {
	width: 1000px;height: auto;margin: 0 auto;background: #fff;
}
.main_box .main_big .main_big_b .main_notes {
	width: 100%;height: auto;padding-bottom: 15px;border-bottom: 1px solid #ec5b3f;font-size: 12px;color: #999;
}
.main_box .main_big .main_list {
	width: 1000px;height: auto;margin: 0 auto;
}
.main_box .main_big .main_list li {
	width: 100%;height: auto;padding: 20px 0;border-bottom: 1px solid #d9d9d9;
}
.main_box .main_big .main_list .main_list_title {
	width: 100%;height: 40px;line-height: 40px;font-size: 16px;color: #333;text-overflow: ellipsis;white-space: nowrap;
}
.main_box .main_big .main_list .main_list_txt {
	width: 1180px;height: 30px;padding-left: 20px;line-height: 30px;font-size: 12px;color: #999;
}
.main_box .main_big .main_list .main_list_ipt {
	width: 1180px;height: auto;padding-left: 20px;margin: 10px 0 0;overflow: hidden;
}
.main_box .main_big .main_list .main_list_ipt label {
	display: block;font-size: 14px;color: #333;margin: 8px 0;overflow: hidden;
}
.main_box .main_big .main_list .main_list_ipt label input {
	margin: 0 5px 0 5px
}
.main_box .main_big .main_list .main_list_sub {
	border-bottom: none;
}
.main_box .main_big .main_list .main_list_sub input {
	width: 120px;height: 40px;background: #ec5b3f;font-size: 14px;color: #fff;border: 0;border-radius: 3px;cursor: pointer;
}