.header .nav li:first-child a {
	color: #eb5a3f;
}
.main_box {
	width: 100%;height: auto;overflow: hidden;
}
.main_box .main_title {
	width: 100%;height: auto;padding: 30px 0;background: #ec5b3f;color: #fff;font-size: 14px;text-align: center;border-bottom: 1px solid #dc4b2f;overflow: hidden;
}
.main_box .main_title h6 {
	padding: 0 0 15px;font-weight: normal;font-size: 30px;
}
.main_box .main_title span {
    color: #fff;font-size: 14px;text-align: center;
}
.main_box .main_nav {
	width: 100%;height: 60px;background: #ec5b3f;
}
.main_box .main_nav ul {
	width: 585px;height: 60px;margin: 0 auto;
}
.main_box .main_nav li {
	width: auto;height: 60px;float: left;line-height: 60px;font-size: 14px;border-left: 1px solid #dc4b2f;overflow: hidden;
}
.main_box .main_nav li a {
	width: 100%;height: 100%;display: block;padding: 0 30px;font-size: 14px;color: #fff;
}
.main_box .main_nav ul li a:hover {
	color: #fff;background: #dc4b2f;transition: all 0.3s;
}
.main_box .main_nav li:first-child {
	border-left: none;background: #dc4b2f;
}
.main_content ul li  {
	border-bottom: 1px dashed #d9d9d9;padding: 100px 0 50px 0;
}
.main_content ul li .main_title {
	width: 100%;height: auto;overflow: hidden;text-align: center;
}
.main_content ul li .main_title h6 {
	font-size: 32px;font-weight: normal;color: #fd800c;padding-bottom: 20px;
}
.main_content ul li .main_txt p{
	font-size: 14px;color: #666;line-height: 26px;text-align: center;
}
.main_content ul li .main_txt i {
	font-size: 12px;color: #999;
}
.main_content ul li .main_content_img {
	width: 1000px;height: auto;margin: 30px auto 0;text-align: center;
}
